doctype html
html
 head
  title Grade Summary
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  center
   h1 Grade Summary
   div(class="maindiv")
    table(bgcolor='lightpink')
     tr
      td(class="tdleft")
        h2 Students
        p
         each grade in grades
          div
           a(href="/grades/#{grade.id}") #{grade.name}
           ul
            each student in grade.students
             li
              a(href="/student/#{student.id}") #{student.name}
      td(class="tdright")
       form(action="/updateGrade")
        h3 Edit Class here
        hr
        |Select Class  
        select(name="prev_grade" ,class="textbox")
         option(value="0") Select
         each grade in grades
          option(value="#{grade.id}") #{grade.name}
        p
        input(type="text", name="new_grade" ,class="textbox")
        input(type="submit", value="submit" ,class="button")
    table(bgcolor="lightgreen")
      tr
       td
        hr(color='darkgreen')
        form(action="/addStudent")
         h2 Add Student
         |Name   : 
         input(type="text", name="stu_name" ,class="textbox")
         p
         |Grade  : 
         select(name="grade" ,class="textbox")
          option(value="0") Select
          each grade in grades
           option(value="#{grade.id}") #{grade.name}
         p
         input(type="submit", value="Add" ,class="button")
         p
         hr(color='darkgreen')
      tr
       td
        form(action="/addGrade")
         h2 Add Grade
         |Grade Name   : 
         input(type="text", name="grade_name" ,class="textbox")
         p
         input(type="submit", value="Add" ,class="button")
         p